header{
    background-color: black;
    width: 100vw;
}
img {
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    width: 60px;
    height:60px;
}
ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    float:right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image:url(thor.jpeg); 
    background-size: 100vw;
    height: calc(100vh-60px);
    margin: 0;
}
div{
    position: absolute;
    bottom:0;
    margin-left: 50px;   
    font-family: 'Roboto', sans-serif;
}
div h1{
    font-size: 100px;
}
div p {
    font-size: larger;
}