{%extends 'base.html'%}

{%block content%}
<div style="padding: 10px;">
    <h4>{{item}}</h4>
    <iframe src={{item.url}} width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>Uploaded by {{item.uploader_name}}</p>
</div>
<p>likes: {{item.likes}}</p>
<form action="" method="post">
    {%csrf_token%}
    {{form}}
    <input width="400px" class="btn btn-success" type="submit">
</form>
<button type="button" class="btn btn-danger">Danger</button>
{% endblock %}
