section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 800px;
    border: 5px solid blue;
    padding: 0 5px;
    align-items: center;
}
div{
    height: 20%;
    background-color: skyblue;
    width: 100%;
    font-size: 80px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#two{
    width: 50%;
    height:50%;
    
}