{%extends 'base.html'%}

{%block content%}
{% load static %}
<div class="single-film-block">
    <div class="single-film-item">
        <article>
            <section>
                <h3>{{item}} </h3>
                <h5>By
                {%for thing in item.director.all%}
                <a href="/show-director/{{thing.id}}">{{thing}}</a>,
                {%endfor%}
                </h5>

                <p>Date: {{item.release_date}}</p>
                <p>Categories:
                {%for thing in item.category.all%}
                {{thing}},
                {%endfor%}
                </p>
                <p>Country: {{item.created_in_country}}</p>
                <section>
                    {%if ratings%}
                            {%for thing in ratings%}
                            
                            <img src = "{% static 'images/star.png' %}" height=30px width=30px>
                            {%endfor%}
                    {%endif%}
                </section>
                {%if comments%}
             </section>           
                {%if poster%}
                    {%for thing in poster.all%}
                        <img src = "{{thing.image}}" height=300px >
                    {%endfor%}
                {%endif%}

        </article>
        <article>
            <section class="comment-section">
                <p>Comments:</p>
                {%for thing in comments%}
                    <div class="comment-user">
                        {%if thing.user%}
                            
                                <img src = "{{thing.user.profile.image}}" class="rounded-circle" width="30" height="30" alt="Profile Photo">
                                <p>{{thing.user}}: {{thing.comment}}</p>
                            
                        {%else%}
                            <p>[User not found]: {{thing.comment}}</p>
                        {%endif%}
                    </div>
                {%endfor%}
            {%endif%}
            </section>
            <section>
                {%if user.is_authenticated%}
                <a href="/add-rating/{{item.id}}">Add Rating</a>
                <a href="/add-comment/{{item.id}}">Add Comment</a>
                <br>
                {%endif%}
                {%if user.is_superuser%}
                    <a href="/add-poster/{{item.id}}">Add Poster</a>
                    <a href="/update-film/{{item.id}}">edit film</a>
                    <a href="/delete-film/{{item.id}}">delete film</a>
                {%endif%}
            </section>
        </article>

</div>

{% endblock %}