*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	scrollbar-color: rebeccapurple green;
}
body{
	display: flex;
	flex-direction: column;
	overflow-y:scroll;
	background-color: #212025;
}

.wrap1 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-family: 'Open Sans', sans-serif;
	background-color: #212025;
	color: #333;
	height: 100vh;
}
#head1{
	width: 100vw;
	background-color: #212025;
}
header nav{
	z-index: 99;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 50px;
	padding-left: 70px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: #212025;
}
header nav a{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color:lightgray;
	font-size: 25px;
	padding: 20px;
	scroll-behavior: smooth;
}
#logo{
	width: auto;
	height: 5vh;
}
.left{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width:40vw;
	height: 100vh;
	background-color: #212025;
	font-family:  sans-serif;
	color:lightgray;
}
.left h1{
	color: white;
	font-size: 9vw;
}
.left #foot1 h2{
	color:white;
}
.left h3{
	color: lightgray;
}
#line{
	color: #AA96DA;
	font-size: xx-large;
}
footer{
	position: absolute;
	width:40vw;
	bottom:0;
}
#will{
	position: absolute;
	background-color: transparent;
	height:auto;
	width: 34vw;
	bottom:0px;
	left: 43vw;
}
#middle{
	height: 100vh;
	width: 28vw;
	background-color: #AA96DA;
}
#right{
	margin-top: 10vh;
	height: 100vh;
	width:25vw;
	background-color: #212025;
	color: white;
}

#right h2{
	text-align: center;
}
#right ul{
	padding-left: 2vw;
}
a{
	color: #AA96DA;
}
.superWrap{
	display:block;
	position: relative;
	height: 100vh;
	
	display: block;
	overflow-y: scroll;
	scrollbar-color: red yellow;!important
}
.wrap2{
	width: 90vw;
	height: 90vh;
	color: white;
	margin-top: 10vh;
	display: flex;
	flex-direction: row;
}
#head2{
	display: flex;
	justify-content: flex-end;

}
#bio{
	padding-top: 60px;
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;	
}
#head2 > div{
	display: flex;
	flex-direction: column;
	padding-left: 3.5vw;
	border-left: 2px solid #AA96DA;
	height: 40vw;

}
#head2 > dic
#head2 p{
	font-size: 3vh;
}
.wrap2{
	display: block;
	flex-direction: column;
	align-self:center ;
	height: fit-content;
}
.wrap2 img{
	width: 40vw;
	height: 40vw;
	padding-right: 3.5vw;

}
.wrap2 hr{
	width: 39vw;
	height: 1px;
}
.wrap2 h1 {
	font-size: 10vh;
}

.Quotes{
	padding-top: 60px;
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
#quote{
	padding-bottom: 60px;
}
.quoteList{
	padding-top: 60px;
}
.wrap2 > ul:first-of-type{
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
ul:first-of-type > li{
	text-align: center;
	font-size: larger;
	padding-bottom: 15px;
}
#books{
	display: flex;
	padding-left:20px ;
}

.books{
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-right: 3.5vw;
	border-right: 2px solid #AA96DA;
}
#books img{
	padding-left: 3.5vw;
	width: fit-content;

}
.books li{
	padding-bottom: 7.5px;
}

::-webkit-scrollbar-thumb {
	background-color: yellow;
  }
