header{
    height: fit-content;
    width: 100vw;
}
nav {

}
header img {
    margin-left: 20px;
    position: relative;
    z-index: 1;
    width: 60px;
    height:60px;
}
ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    float:right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
body{
    height: calc(100vh-60px);
    margin: 0;
}
.big{  
    position: relative;
    font-family: 'Roboto', sans-serif;
    height: 90vh;
    width: 100vw;
    background-image: url(thor.jpeg);
    background-size: 100vw auto;
}
.big > div {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: max-content;
}
div img{
    width: 100vw;
    height: auto;
}
div h1{
    font-size: 100px;
    position: absolute;
    bottom:100px
}
div p {
    width: 50vw;
    position: absolute;
    bottom:100px;
    right: 0;
    font-size: larger;
}
@media only screen and (max-width:1200px){
    nav > ul{
        background-color:red;
        color:white;
    }

}
@media only screen and (max-width:992px){
    li > a{
        color:black;
        font-size: 20px;
        padding: 20px 5px;
        }
    div > h1{
        font-size: 25px;
        position: fixed;
        top: 100px;
    }
    div > p{
        display: flexbox;
        font-size: 10px;
        left:0;
        bottom: 0;
    }
    nav > ul{
        background-color: lightgreen;
    }
    /* div >div{
        display: block;
        position: relative;
    }
    div h1 {
        display: block;
        position: relative;
        left: 0;
        right: 0;
    } */
}
@media only screen and (max-width:768px){
    div > h1{
        font-size: 35px;
    }
    nav > ul{
        background-color: yellow;
    }
}
