div > div > div{
    height: 50px;
    width: 50px;
    background-color: yellow;
    box-sizing: border-box;
    border: 1px solid black;
}
body{
    width: 600px;
}
#container{
    display: flex;
    justify-content: space-between;
    width:600px;
    height: 230px;
}
.main1, .main3{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
}
.main2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;

}